@import url(reset.css);

@import url("https://use.typekit.net/kct4muf.css");

/*
style.css
@description : exercice, site one page de l'évènement Motion Motion

colors : 
Noir #000000
Bleu clair #00FFFF
vert #00ff00
Orange #FF8A00
Rouge #FF0000
Fushia #FF00FF
Violet #7700FF
Bleu electrique #000DFF

typo: 'Basic Sans'
*/

body{
    background-color: black;
    font-family: "basic sans";
    color: white;
}

/* nav */

.nav{
    background-color: black;
}

.nav-text {
    color: white;
}

/* section about */

.about{
    padding: 30px;
    display: flex;
    justify-content: center;
}

.about-name{
    flex:1;
    /* width: 600px; */
}

.about-title{
    font-size: 8.75rem;
    font-weight: 900;
    text-transform: uppercase;
	background: linear-gradient(to right, #00FFFF 0%, #00ff00 14%,#FF8A00 28%,#FF0000 42%,#FF00FF 56%,#7700FF 70%, #000DFF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.about-subtitle{
    font-size: 3rem;
    font-style: italic;
}

.about-info{
    padding-top: 20px;
    padding-left: 15px;
    flex:1;
}

.about-info-txt{
    font-size: 1.563rem;
    font-weight: 700;
    font-style: italic;
}

.about-info-intro{
    padding-top: 15px;
    font-size: 1.25rem;
    font-weight: 500;
    font-style: italic;
}

.about-info-p{
    padding-top: 5px;
    font-size: 1rem;
    font-weight: 300;
}

/* Newsletter */

.newsletter{
    padding: 30px;
    background-color: white;
    color: black;
}

.newsletter-title{
    font-size: 7.7rem;
    font-weight: 900;
}

.newsletter-subtitle{
    font-size: 3.125rem;
}

.newsletter-form{
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.newsletter-form-mail{
    flex: 5;
    margin-right: 15px;
}

.newsletter-form-button {
    flex: 1
}

/* programme */

.transition{
    margin: 1em auto 2em;
    overflow: hidden;
}

.transition-text{
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
	background: linear-gradient(to right, #00FFFF 0%, #00ff00 14%,#FF8A00 28%,#FF0000 42%,#FF00FF 56%,#7700FF 70%, #000DFF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    display: inline-block;
    padding-right: 2em;
    padding-left: 100%;
    white-space: nowrap;
    animation: defilement-rtl 90s infinite linear;
}

@keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
}

.programme-article_journeepro{
    margin-top: 15px;
    height: 230px;
    padding: 15px;
    border: solid 2px #00FFFF;
    border-radius: 5px;
}

.programme-type_journeepro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:#00FFFF;
    color: black;
    border-radius: 5px;
}

.programme-article_expo{
    margin-top: 15px;
    height: 230px;
    padding: 15px;
    border: solid 2px #00ff00;
    border-radius: 5px;
}

.programme-type_expo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:#00ff00;
    color: black;
    border-radius: 5px;
}

.programme-article_conf{
    margin-top: 15px;
    height: 230px;
    padding: 15px;
    border: solid 2px #FF8A00;
    border-radius: 5px;
}

.programme-type_conf{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:#FF8A00;
    color: black;
    border-radius: 5px;
}

.programme-article_concert{
    margin-top: 15px;
    height: 230px;
    padding: 15px;
    border: solid 2px #FF0000;
    border-radius: 5px;
}

.programme-type_concert{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:#FF0000;
    color: black;
    border-radius: 5px;
}

.programme-article_perf{
    margin-top: 15px;
    height: 230px;
    padding: 15px;
    border: solid 2px #FF00FF;
    border-radius: 5px;
}

.programme-type_perf{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:#FF00FF;
    color: black;
    border-radius: 5px;
}

.programme-article_projection{
    margin-top: 15px;
    height: 230px;
    padding: 15px;
    border: solid 2px #7700FF;
    border-radius: 5px;
}

.programme-type_projection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:#7700FF;
    color: black;
    border-radius: 5px;
}

.programme-article_enfant{
    margin-top: 15px;
    height: 230px;
    padding: 15px;
    border: solid 2px #000DFF;
    border-radius: 5px;
}

.programme-type_enfant{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:#000DFF;
    color: black;
    border-radius: 5px;
}

.programme-title{
    padding-top: 3px;
    font-size: 1.5rem;
    font-weight: 800;
    font-style: italic;
}

.programme-time{
    font-size: 1rem;
    font-weight: 700;
}

.programme-actor{
    padding-top: 3px;
    font-size: 1rem;
    font-style: italic;
}

.programme-date{
    padding-top: 3px;
    font-size: 1rem;
    font-style: italic;
}

/* Lieux */

.lieux{
    background-color: white;
    color: black;
    margin-top:30px;
    padding: 15px;
}

.lieux-container{
    display: flex;
}

.lieux-card{
    border: solid 1px black;
    padding: 15px;
    flex:1;
}

.lieux-title{
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
}

.lieux-adresse{
    margin-top: 5px;
    font-size: 1.2rem;
}

.lieux-jours{
    margin-top: 5px;
    font-size: 1rem;
    font-style: italic;
}

.lieux-heures{
    margin-top: 5px;
    font-size: 1rem;
    font-style: italic;
}

.lieux-transports{
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 700;
}

.lieux-itineraire{
    font-size: 1rem;
    font-weight: 300;
}

/* Responsive */

/* Téléphone - 0px à 480px */
@media screen and (min-width: 0px) {

    /* section about */
    .about{
        flex-direction: column;
    }
    .about-title{
        font-size: 5.5rem;
    }
    .about-subtitle{
        font-size: 2rem;
    }
    .about-info{
        padding-left: 0px;
    }

    /* Newsletter */
    .newsletter-title{
        font-size: 3rem;
    }
    .newsletter-subtitle{
        font-size: 2rem;
    }
    .newsletter-form{
        width: 100%;
    }

    .footer-element{
        margin-top: 5%;
    }

    /* Lieux */
.lieux-container{
    flex-direction: column;
}
}

/* Tablette - 480px à 768px */
@media screen and (min-width: 480px) {

    /* section about */
    .about{
        flex-direction: column;
    }
    .about-title{
        font-size: 7rem;
    }
    .about-subtitle{
        font-size: 2rem;
    }
    .about-info{
        padding-left: 0px;
    }

    /* Newsletter */
    .newsletter-title{
        font-size: 3.5rem;
    }
    .newsletter-subtitle{
        font-size: 2rem;
    }
    .newsletter-form{
        width: 100%;
    }

    /* Lieux */
    .lieux-container{
        flex-direction: column;
    }
}

/* Desktop - 768px à 1280px */
@media screen and (min-width: 768px) {

    /* section about */
    .about{
        flex-direction: row;
    }
    .about-info{
        padding-left: 15px;
    }

    /* Newsletter */
    .newsletter-title{
        font-size: 5rem;
    }
    .newsletter-subtitle{
        font-size: 2.5rem;
    }
    .newsletter-form{
        width: 80%;
    }

    /* Lieux */
    .lieux-container{
        flex-direction: row;
    }
}

/* Moyen Desktop - 1280px à 1440px */
@media screen and (min-width: 1280px) {

    /* section about */
    .about{
        flex-direction: row;
    }
    .about-title{
        font-size: 8.75rem;
    }
    .about-subtitle{
        font-size: 3rem;
    }
    .about-info{
        padding-left: 15px;
    }

    /* Newsletter */
    .newsletter-title{
        font-size: 7.7rem;
    }
    .newsletter-subtitle{
        font-size: 3.125rem;
    }
    .newsletter-form{
        width: 50%;
    }

    /* Lieux */
    .lieux-container{
        flex-direction: row;
    }

    .footer-element{
        margin-top:0;
    }
}

/* Grand Desktop - 1440px à 1920px */
@media screen and (min-width: 1440px) {

    /* section about */
    .about{
        flex-direction: row;
    }
    .about-title{
        font-size: 10rem;
    }
    .about-subtitle{
        font-size: 4rem;
    }
    .about-info{
        padding-left: 15px;
    }
    .about-info-txt{
        font-size: 2rem;
    }

    /* Newsletter */
    .newsletter-title{
        font-size: 8rem;
    }
    .newsletter-subtitle{
        font-size: 4rem;
    }
    .newsletter-form{
        width: 50%;
    }

        /* Lieux */
.lieux-container{
    flex-direction: row;
}
}